.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 5px 5px 10px midnightblue;
    padding: 0 1rem;
    position: fixed;
    background-color: transparent;
    transition: top 0.6s;
    z-index: 1;
}

button {
    border: none;
    background-color: seagreen;
    color: white;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 10px;
}

button:hover {
    border: 1px solid seagreen;
    background-color: white;
    color: seagreen;
    font-weight: bold;
    padding: 0.3rem;
    border-radius: 10px;
}